<html>
<head>
    <script type="text/javascript" src="{{ asset('bower_components/jquery-ui-1.11.4.custom/external/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('dist/css/sb-admin-2.css') }}" type="text/css" media="all"/>
</head>
<body style="background:#fff;" >
<form enctype="multipart/form-data" class="dropzone" action="{{ path('point_web_admin_update') }}" method="post"
      id="pointweb_dropzone_form">
    <div style=" background: url('../images/download-icon.png') no-repeat center 25px;"></div>
    <input type="file" name="dropzoneFiles[]" multiple/>
</form>
<script>
    var form = $("#pointweb_dropzone_form");
    var input = form.find("input");
    input.on('change', function (event) {
        var progressBar = $('<div class="progress progress-striped active col-lg-10" id="progressBarFile"><div class="progress-bar" style="width: 100%"></div></div>');
        $(parent.document).find('#dropZoneFile').after(progressBar);
        files = event.target.files;
        var data = new FormData();
        $.each(files, function (key, value) {
            data.append(key, value);
        });
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: data,
            cache: false,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (result) {
                progressBar.remove();
                parent.prepareNewFileForm(result);
            }
        });
    });
</script>
</body>
</html>